@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  min-width: 500px;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}

main {
  min-width: 500px;
}

h1 {
  display: unset;
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.l-header {
  max-width: 100vw;
}

.swiper-slide {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 18px;
  background: #fff;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.swiper-slide .img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.swiper-wrapper {
  height: 100%;
  width: 100%;
}

.card-body {
  height: 10rem;
}
.card-inner {
  margin: 1rem 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.card-text {
  height: 7rem;
  width: 5rem;
}

.swiper-concept {
  width: 100vw;
  height: 100vh;
}
.swiper-concept .swiper-slide {
  height: 100%;
  width: auto;
}
.swiper-concept .swiper-slide .slide-0,
.swiper-concept .swiper-slide .slide-1,
.swiper-concept .swiper-slide .slide-2,
.swiper-concept .swiper-slide .slide-3 {
  position: relative;
  height: 100%;
}
.swiper-concept .swiper-pagination {
  position: fixed;
}
.swiper-concept .swiper-pagination-bullet {
  rotate: 90deg;
}
.swiper-concept .swiper-button-prev::before, .swiper-concept .swiper-button-next::before {
  position: relative;
  font-family: FontAwesome;
  background: rgba(255, 255, 255, 0.3);
  padding: 8px 12px;
}
@media screen and (min-width: 600px) {
  .swiper-concept .swiper-button-prev::before, .swiper-concept .swiper-button-next::before {
    opacity: 1;
  }
}
.swiper-concept .swiper-button-prev {
  left: 50%;
  top: 15%;
  rotate: 90deg;
}
.swiper-concept .swiper-button-prev::before {
  content: "\f104";
}
.swiper-concept .swiper-button-next {
  right: 48%;
  top: 90%;
  rotate: 90deg;
}
.swiper-concept .swiper-button-next::before {
  content: "\f105";
}

.p-concept .slide-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-concept__inner {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
}
.p-concept__inner.inner--first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-concept__inner.inner--second, .p-concept__inner.inner--third, .p-concept__inner.inner--forth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
}
.p-concept__inner .core--first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-transform: translate(50px, -50px) scale(1);
          transform: translate(50px, -50px) scale(1);
  -webkit-animation: conceptText 20s ease;
          animation: conceptText 20s ease;
}
.p-concept__inner .core--second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.p-concept__inner .core--third, .p-concept__inner .core--forth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.p-concept__title--page, .p-concept__title--flip {
  z-index: 1;
  color: #fff;
  font-size: 1.5rem;
}
.p-concept__title--page {
  left: 60%;
  top: 30%;
}
.p-concept__title--flip {
  font-size: 1.2rem;
}
.p-concept__title--flip.first {
  opacity: 1;
  letter-spacing: 5px;
}
.p-concept__title--flip.first p {
  -webkit-writing-mode: unset;
      -ms-writing-mode: unset;
          writing-mode: unset;
}
.p-concept__title--flip.second {
  padding-left: 2rem;
  margin-top: -5rem;
}
.p-concept__title--flip.second p {
  -webkit-writing-mode: unset;
      -ms-writing-mode: unset;
          writing-mode: unset;
}
.p-concept__title--flip.third {
  padding-left: 2rem;
}
.p-concept__title--flip.third p {
  -webkit-writing-mode: unset;
      -ms-writing-mode: unset;
          writing-mode: unset;
}
.p-concept__text {
  color: #fff;
}
.p-concept__text.second {
  opacity: 1;
  padding-top: 5rem;
  font-size: 0.8rem;
  text-align: initial;
  height: 46%;
}
.p-concept__text.second span {
  text-orientation: initial;
}
.p-concept__text.third, .p-concept__text.fourth {
  padding-top: 5rem;
  font-size: 0.8rem;
  text-align: initial;
  height: 50%;
}
.p-concept__bg {
  position: absolute;
  display: block;
  content: "";
  background-position: center;
  height: 100%;
  width: 100%;
}
.p-concept__bg.bg-0 {
  margin-left: -100%;
  rotate: 7.5deg;
  height: 320%;
  top: -100px;
  width: 400%;
  background-size: 150%;
  background-position: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, rgb(0, 0, 0)), color-stop(20%, rgb(0, 57, 149)), color-stop(40%, rgb(10, 72, 173)), color-stop(60%, rgb(0, 212, 255))), #fff;
  background: linear-gradient(180deg, rgb(0, 0, 0) 3%, rgb(0, 57, 149) 20%, rgb(10, 72, 173) 40%, rgb(0, 212, 255) 60%), #fff;
  -webkit-animation: bggradient-0 35s ease-in-out infinite;
          animation: bggradient-0 35s ease-in-out infinite;
}
.p-concept__bg.bg-1 {
  background: radial-gradient(circle at top, #fff, transparent 5%), linear-gradient(345deg, rgb(10, 45, 117) 0%, rgb(10, 73, 157) 30%, rgba(0, 212, 255, 0.8982186625) 70%, rgba(0, 255, 117, 0.8001794468) 95%);
  width: 100%;
  background-size: 400% 400%;
  -webkit-animation: bggradient-1 35s ease-in-out infinite;
          animation: bggradient-1 35s ease-in-out infinite;
}
.p-concept__bg.bg-2 {
  background: linear-gradient(190deg, rgb(10, 45, 117) 5%, rgba(12, 80, 198, 0.95) 45%, rgba(12, 80, 198, 0.898) 100%);
}
.p-concept__bg.bg-3 {
  background: linear-gradient(155deg, rgba(10, 33, 173, 0.79) 0%, rgba(21, 178, 188, 0.83) 50%, rgba(39, 255, 181, 0.32) 95%);
}
.p-concept__bg.bg-3-before {
  position: absolute;
  display: block;
  right: -100vh;
  bottom: -100vh;
  content: "";
  width: 200vh;
  height: 200vh;
  opacity: 1;
  border-radius: 50%;
  background: radial-gradient(rgba(21, 178, 188, 0.83) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.8) 70%, #fff 80%);
  z-index: 1;
  -webkit-filter: blur(150px);
          filter: blur(150px);
  scale: 0;
}

canvas {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

@-webkit-keyframes Scale {
  from {
    scale: 0;
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  80% {
    opacity: 1;
  }
  to {
    scale: 2.5;
  }
}

@keyframes Scale {
  from {
    scale: 0;
    opacity: 0;
  }
  20% {
    opacity: 0.8;
  }
  80% {
    opacity: 1;
  }
  to {
    scale: 2.5;
  }
}
@-webkit-keyframes bggradient-0 {
  0% {
    rotate: 7.5deg;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  25% {
    rotate: -7.5deg;
  }
  50% {
    rotate: 7.5deg;
    background-position: bottom;
    -webkit-transform: translateY(-17.5%);
            transform: translateY(-17.5%);
  }
  75% {
    rotate: -7.5deg;
  }
  100% {
    rotate: 7.5deg;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}
@keyframes bggradient-0 {
  0% {
    rotate: 7.5deg;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  25% {
    rotate: -7.5deg;
  }
  50% {
    rotate: 7.5deg;
    background-position: bottom;
    -webkit-transform: translateY(-17.5%);
            transform: translateY(-17.5%);
  }
  75% {
    rotate: -7.5deg;
  }
  100% {
    rotate: 7.5deg;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}
@-webkit-keyframes bggradient-1 {
  0%, 100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@keyframes bggradient-1 {
  0%, 100% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
@-webkit-keyframes bggradient-2 {
  50% {
    background-position: bottom;
    rotate: 40deg;
    top: -40%;
    left: -40%;
    height: 200%;
    width: 200%;
  }
}
@keyframes bggradient-2 {
  50% {
    background-position: bottom;
    rotate: 40deg;
    top: -40%;
    left: -40%;
    height: 200%;
    width: 200%;
  }
}
@-webkit-keyframes bggradient-3 {
  50% {
    background-position: bottom;
    rotate: 40deg;
    top: -40%;
    left: -40%;
    height: 200%;
    width: 200%;
  }
}
@keyframes bggradient-3 {
  50% {
    background-position: bottom;
    rotate: 40deg;
    top: -40%;
    left: -40%;
    height: 200%;
    width: 200%;
  }
}
@-webkit-keyframes conceptText {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, 50px) scale(0.8);
            transform: translate(-50px, 50px) scale(0.8);
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(50px, -50px) scale(1);
            transform: translate(50px, -50px) scale(1);
  }
}
@keyframes conceptText {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, 50px) scale(0.8);
            transform: translate(-50px, 50px) scale(0.8);
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(50px, -50px) scale(1);
            transform: translate(50px, -50px) scale(1);
  }
}
@-webkit-keyframes conceptTextSecondTitle {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, 0) scale(0.8);
            transform: translate(-50px, 0) scale(0.8);
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
}
@keyframes conceptTextSecondTitle {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, 0) scale(0.8);
            transform: translate(-50px, 0) scale(0.8);
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
}
@-webkit-keyframes conceptTextSecondText {
  0% {
    opacity: 0;
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes conceptTextSecondText {
  0% {
    opacity: 0;
    -webkit-transform: translate(-30px, 30px);
            transform: translate(-30px, 30px);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes conceptTextThirdTitle {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px, -100px) scale(0.8);
            transform: translate(-100px, -100px) scale(0.8);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
}
@keyframes conceptTextThirdTitle {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px, -100px) scale(0.8);
            transform: translate(-100px, -100px) scale(0.8);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
}
@-webkit-keyframes conceptTextThirdText {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, 50px);
            transform: translate(-50px, 50px);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes conceptTextThirdText {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, 50px);
            transform: translate(-50px, 50px);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes conceptTextFourthTitle {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px, 100px) scale(0.8);
            transform: translate(-100px, 100px) scale(0.8);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
}
@keyframes conceptTextFourthTitle {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px, 100px) scale(0.8);
            transform: translate(-100px, 100px) scale(0.8);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
}
@-webkit-keyframes conceptTextFourthText {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, -50px);
            transform: translate(-50px, -50px);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes conceptTextFourthText {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, -50px);
            transform: translate(-50px, -50px);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes toFrontText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes toFrontText {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Foundation*/
/*Layout*/
/*Object*/
/*Component*/
/*Project*/
/*Utility*/