@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}

h1 {
  display: unset;
}

/* mixin */ /*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.l-header {
  max-width: 100vw;
}

.c-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-position__child {
  position: relative;
}
.c-position__child::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.swiper--main {
  height: 100svh;
}
.swiper--main .swiper--wrapper {
  /* wrapperのサイズを調整 */
  width: 100%;
}
.swiper--main .swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  width: 100%;
  height: 100%;
}
.swiper--main .swiper-slide:nth-child(3n+1) {
  /*1、4、7、3n+1枚目の背景色 */
}
.swiper--main .swiper-slide:nth-child(3n+2) {
  /*2、5、8、3n+2枚目の背景色 */
}
.swiper--main .swiper-slide:nth-child(3n+3) {
  /*3、6、9、3n+3枚目の背景色 */
}
.swiper--main .swiper-button-prev {
  left: 48%;
  top: 15vh;
  rotate: 90deg;
}
.swiper--main .swiper-button-next {
  left: 48%;
  top: 95vh;
  rotate: 90deg;
}
.swiper--main .swiper-button-disabled {
  display: none;
}
.swiper--video {
  position: relative;
  width: 45vw;
  aspect-ratio: 2/1.7;
  overflow: hidden;
}
.swiper--video .swiper--wrapper {
  /* wrapperのサイズを調整 */
}
.swiper--video .swiper-slide {
  /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
  height: 100%;
  display: block;
  padding-bottom: 3rem;
}
.swiper--video .swiper-slide:nth-child(3n+1), .swiper--video .swiper-slide:nth-child(3n+2), .swiper--video .swiper-slide:nth-child(3n+3) {
  /*1、4、7、3n+1枚目の背景色 */
  background-color: unset;
}
.swiper--video .swiper-slide video {
  height: 100%;
  width: 100%;
}
.swiper--video .swiper-pagination2 {
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
  right: 10px;
  height: 20px;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}
.swiper--video .swiper-button-prev2 {
  left: 5%;
  top: 50%;
  rotate: 180deg;
  position: absolute;
  width: min(10%, 100px);
  height: min(12%, 100px);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
}
.swiper--video .swiper-button-prev2::before {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 25%;
}
.swiper--video .swiper-button-prev2::after {
  content: "";
  position: absolute;
  display: block;
  left: 1.5vw;
  top: 0.4vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  border: 2vw solid transparent;
  border-left: 2vw solid #fff;
}
.swiper--video .swiper-button-next2 {
  right: 5%;
  top: 50%;
  rotate: 0deg;
  position: absolute;
  width: min(10%, 100px);
  height: min(12%, 100px);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
}
.swiper--video .swiper-button-next2::before {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 25%;
}
.swiper--video .swiper-button-next2:after {
  content: "";
  position: absolute;
  display: block;
  left: 1.5vw;
  top: 0.4vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  border: 2vw solid transparent;
  border-left: 2vw solid #fff;
}
.swiper--video .swiper-button-disabled {
  display: block;
}

.c-tb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: #cccccc solid 1px;
  font-family: sans-serif;
}
.c-tb:nth-of-type(2) {
  margin: 5vh 0;
}
.c-tb__left h3 {
  padding: 5vh 2vw;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
}
.c-tb__left::after {
  height: 70%;
  border-right: #cccccc solid 1px;
}
.c-tb__right-inner {
  padding: 16px;
  font-size: clamp(0.8rem, 1.8vw, 1rem);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.c-tb__right-jump {
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  display: block;
}
.c-tb__right-jump p {
  display: inline-block;
  padding: 1rem;
  border: #e13131 1px solid;
}

.c-text {
  font-size: clamp(0.8rem, 5vw, 1rem);
}

.c-title__slide {
  font-family: sans-serif;
  font-size: clamp(1.5rem, 10vw, 2rem);
  font-weight: bold;
}

.p-gmenu {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .p-gmenu {
    height: 100%;
    margin: 0 10vw;
    width: 20vw;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 2rem;
  }
}
.p-gmenu li {
  width: 50%;
  font-size: 1.5rem;
  font-weight: bold;
}
.p-gmenu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.p-gmenu li:first-of-type a {
  z-index: 1;
}
.p-gmenu li:first-of-type::before {
  border-right: solid 2px;
  position: absolute;
  content: "";
  display: block;
  width: 50%;
  height: 25%;
  top: 55%;
}
@media screen and (min-width: 1200px) {
  .p-gmenu li:first-of-type::before {
    display: none;
  }
}
.p-gmenu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1200px) {
  .p-gmenu__list {
    margin: unset;
    padding: 1rem 1rem 0 0;
    text-align: center;
  }
}
.p-gmenu__list .title {
  z-index: 1000;
}
.p-gmenu__list .item {
  font-size: 1.3rem;
  width: 50%;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 1200px) {
  .p-gmenu__list .item {
    width: 10rem;
    text-align: unset;
  }
}

.p-header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
}
@media screen and (min-width: 1200px) {
  .p-header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.p-header__logo {
  width: 50px;
  height: 50px;
  margin: auto;
}
.p-header__logo img {
  width: 100%;
}

.p-slide__second--title {
  padding: 5vh 0;
}
@media screen and (min-width: 820px) {
  .p-slide__second--title {
    padding: 0 0 5vh 0;
  }
}
.p-slide__second--text {
  text-align: left;
  padding: 0 10vw;
}
@media screen and (min-width: 820px) {
  .p-slide__second--text {
    text-align: center;
  }
}
.p-slide__third--title {
  width: min(100%, 800px);
  padding: 0 0 5vh 20px;
}

/*Foundation*/
/*Layout*/
/*Object*/
/*Component*/
/*Project*/
/*Utility*/