@use "../../Foundation/index" as *;

.swiper {
  &--main {
    height: 100svh;

    .swiper {
      &--wrapper {
        /* wrapperのサイズを調整 */
        width: 100%;
      }

      &-slide {
        /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
        width: 100%;
        height: 100%;

        &.slide1.c-flex-center.swiper-slide-active {
          .u-button-totop {
            display: none;
          }
        }
      }

      &-button {
        &-prev {
          left: 48%;
          top: 15vh;
          rotate: 90deg;
        }

        &-next {
          left: 48%;
          top: 95vh;
          rotate: 90deg;
        }

        &-disabled {
          display: none;
        }
      }
    }
  }

  &--video {

    position: relative;
    width: 45vw;
    aspect-ratio: 2 / 1.7;
    overflow: hidden;

    .swiper {

      &-slide {
        /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
        height: 100%;
        display: block;
        padding-bottom: 3rem;

        &:nth-child(3n + 1),
        &:nth-child(3n + 2),
        &:nth-child(3n + 3) {
          /*1、4、7、3n+1枚目の背景色 */
          background-color: unset;
        }

        video {
          height: 100%;
          width: 100%;
        }
      }

      &-pagination2 {
        position: absolute;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
        right: 10px;
        height: 20px;
        transform: translate3d(0px, -50%, 0);
      }

      &-button {
        &-prev2 {
          left: 5%;
          top: 50%;
          rotate: 180deg;
          position: absolute;
          width: min(10%, 100px);
          height: min(12%, 100px);
          margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
          z-index: 10;
          cursor: pointer;

          &::before {
            content: '';
            position: absolute;
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 1px solid #fff;
            -webkit-border-radius: 25%;
            border-radius: 25%;
          }

          &::after {
            content: "";
            position: absolute;
            display: block;
            left: 1.5vw;
            top: 0.4vh;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 80%;
            border: 2vw solid transparent;
            border-left: 2vw solid #fff;
          }
        }

        &-next2 {
          right: 5%;
          top: 50%;
          rotate: 0deg;
          position: absolute;
          width: min(10%, 100px);
          height: min(12%, 100px);
          margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
          z-index: 10;
          cursor: pointer;

          &::before {
            content: '';
            position: absolute;
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 1px solid #fff;
            -webkit-border-radius: 25%;
            border-radius: 25%;
          }

          &:after {
            content: "";
            position: absolute;
            display: block;
            left: 1.5vw;
            top: 0.4vh;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 80%;
            border: 2vw solid transparent;
            border-left: 2vw solid #fff;
          }
        }

        &-disabled {
          display: block;
        }
      }
    }
  }
}