@use "../../Foundation/index" as *;

.swiper {
  &--main {
    height: 100svh;

    .swiper {
      &--wrapper {
        /* wrapperのサイズを調整 */
        width: 100%;
      }

      &-slide {
        /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
        width: 100%;
        height: 100%;

        &.slide1.c-flex-center.swiper-slide-active {
          .u-button-totop {
            display: none;
          }
        }
      }

      &-button {
        &-prev {
          left: 48%;
          top: 15vh;
          rotate: 90deg;
        }

        &-next {
          left: 48%;
          top: 95vh;
          rotate: 90deg;
        }

        &-disabled {
          display: none;
        }
      }
    }
  }

  &-pagination {
    font-size: 0 !important;

    @include mql (screen02) {
      background-color: unset;
      height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      --swiper-theme-color: none;

      &-bullet {
        background-color: unset;
        font-size: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        border: solid 1px;
        border-radius: 50% 50%;
        text-align: center;
        vertical-align: middle;
        padding-top: 25%;
        background-color: #fff;
      }
    }
  }

  &--video {

    position: relative;
    width: 45vw;
    aspect-ratio: 2 / 1.7;
    overflow: hidden;

    .swiper {

      &-slide {
        /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
        height: 100%;
        display: block;
        padding-bottom: 3rem;

        video {
          height: 100%;
          width: 100%;
        }
      }

      &-pagination2 {
        position: absolute;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
        right: 10px;
        height: 20px;
        transform: translate3d(0px, -50%, 0);

        &-bullet {
          width: 10px;
          height: 10px;
          background-color: #000000;
          border-radius: 100%;
          opacity: 0.2;
          display: inline-block;
          margin: 0 5vw;

          &.swiper-pagination-bullet-active {
            opacity: var(--swiper-pagination-bullet-opacity, 1);
            background: var(--swiper-pagination-color, var(--swiper-theme-color));
          }
        }
      }

      &-button {
        &-prev2 {
          left: 5%;
          top: 50%;
          rotate: 180deg;
          position: absolute;
          width: min(10%, 100px);
          height: min(12%, 100px);
          margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
          z-index: 10;
          cursor: pointer;

          &::before {
            content: '';
            position: absolute;
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 1px solid #fff;
            -webkit-border-radius: 25%;
            border-radius: 25%;
          }

          &::after {
            content: "";
            position: absolute;
            display: block;
            left: 1.5vw;
            top: 0.4vh;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 80%;
            border: 2vw solid transparent;
            border-left: 2vw solid #fff;
          }
        }

        &-next2 {
          right: 5%;
          top: 50%;
          rotate: 0deg;
          position: absolute;
          width: min(10%, 100px);
          height: min(12%, 100px);
          margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
          z-index: 10;
          cursor: pointer;

          &::before {
            content: '';
            position: absolute;
            display: block;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 1px solid #fff;
            -webkit-border-radius: 25%;
            border-radius: 25%;
          }

          &:after {
            content: "";
            position: absolute;
            display: block;
            left: 1.5vw;
            top: 0.4vh;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
            height: 80%;
            border: 2vw solid transparent;
            border-left: 2vw solid #fff;
          }
        }

        &-disabled {
          display: block;
        }
      }
    }
  }
}