@use "../../Foundation/index" as *;

.p-slide {
  &__second {
    &--title {
      padding: 5vh 0;

      @include mq(screen02) {
        padding: 0 0 5vh 0;
      }
    }

    &--text {
      text-align: left;
      padding: 0 10vw;

      @include mq(screen02) {
        text-align: center;
      }
    }
  }

  &__third {
    &--title {
      width: min(100%, 800px);
      padding: 0 0 5vh 20px;
    }
  }

  &__fourth {
    &--title {
      padding: 2vh 0;

      @include mq(screen02) {
        padding: 0 0 2vh 0;
      }
    }

    &--text {
      padding: 0 15vw;
    }
    &--flex {
      display: flex;
      padding: 10vh 15vw;
      &-img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        @include mq (screen012) {
          align-items: unset;
        }
        span {
          width: 50%;
          position: relative;
          &::before {
            content:'!'; 
            height:0px; 
            width:0px;
            display:block;
            position:absolute;
            top:-10px; left:-10px; 
            border:transparent solid; border-bottom-color:#333; border-width:0px 7.5vw 13vw 7.5vw; color:#fff; 
            font-family:Verdana; font-weight:bold; 
            font-size: clamp(15px, 10vw, 150px); 
            line-height: clamp(19px, 15vw, 150%);
            text-indent: -1.875vw;
            @include mq(screen03) {
              margin-left: -5vw;
            }
          }
        }
      }
      &-text {
        width: 50%;
        margin-right: 5vw;
        padding-left: 5vw;
        li:nth-last-of-type(2) {
          padding: 16px 0;
        }
      }
    }
  }
}