@use "../../Foundation/index" as *;

.p-slide {
  &__second {
    &--title {
      padding: 5vh 0;
      @include mq(screen02) {
        padding: 0 0 5vh 0;
      }
    }
    &--text {
      text-align: left;
      padding: 0 10vw;
      @include mq(screen02) {
        text-align: center;
      }
    }
  }
  &__third {
    &--title {
      width: min(100%, 800px);
      padding: 0 0 5vh 20px;
    }
  }
}